{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DL Music Generation</title>
    <link href="{% static 'lstm/css/home.css' %}" type="text/css" rel="stylesheet" />
</head>

<body style="background-image: url('{% static 'lstm/images/home_backgroung.jpg' %}')">

  <div class="container" style="position:relative; text-align: center;">
    <img src="{% static 'lstm/images/home_title.jpg' %}" alt="Beautiful Piano" style="width:100%;">
    <div class="text" style="position: absolute; top:10%; left:35%;"><h1 style="font-family:Courier New; font-size:xx-large;">Classical 846 LSTM.</h1></div>
    <div class="text" style="position: absolute; top:20%; left:15%;"><h2 style="font-family:Courier New; display: inline-block; font-style:italic;">What is this?</h2><span style="font-family:Courier; font-style:italic; margin-left:15px;">This is a website hosting some <a href="https://en.wikipedia.org/wiki/Long_short-term_memory" style="color:black;">LSTM networks</a> we trained to generate music.</span></div>
    <div class="text" style="position: absolute; top:62%; left:2%;"><h2 style="font-family:Courier New; display: inline-block; font-style:italic;">How does it work?</h2><span style="font-family:Courier; font-style:italic; margin-left:15px;">Easy! Scroll down, choose an author, and select a network trained on this particular composer.</span></div>
    <div class="text" style="position: absolute; top:69%; left:1.7%;"><span style="font-family:Courier; font-style:italic;">Then, just play a few notes, and see what happens! You may also dare to tweak the generative process a little bit further.</span></div>
      <div class="text" style="position: absolute; top:87%; left:1.7%;"><a href="/about" target="_blank" style="color:black; font-family:Courier New; display: inline-block; font-style:italic;"><h4>No, but really... how does it work?</h4></a></div>
  </div>

  <div class="thumbnail">
      <div class="imgContainer" style="float:left;">
          {% for author in authors %}
              <a href="/author/{{ author.pk }}/"><!--{{ author.name }}--><img src="{% static 'lstm/images/' %}{{ author.name }}_thumbnail.jpg" /></a>
          {% endfor %}
      </div>
  </div>
  <br>
  <a href="https://github.com/PedroUria/MusicDLWebsite" target="_blank" style="color:black"><span style="font-family:Courier; color:black; padding-right: 10px">Source Code</span></a>
  -
  <a href="https://github.com/PedroUria/DL-Music_Generation" target="_blank" style="color:black"><span style="font-family:Courier; color:black; padding-left: 10px; padding-right: 10px">Music Project</span></a>
  -
  <a href="/about" target="_blank" style="color:black"><span style="font-family:Courier; padding-left: 10px">About</span></a>

</body>

</html>
